::selection,::-moz-selection,::-webkit-selection {
    background:#DDDDDE; 
}
.highlight>div pre {
    margin-bottom: 0;
}
.highlight>div {
    overflow: auto;
    margin-bottom: 1em;
}
.post-content pre code {
    margin-right: 1em;
}
.post-content .highlight pre code {
    margin-right: unset;
}